#left-content{
	background-color: white;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10%;
	margin-bottom: 2%;
}

#dashboard-wrap{
	padding:0;
}
.row > .col-md-offset-2{
	margin-left:14%;
}
#main-header{
	background-color: #2f3b56;
	display: inline-block;
	width: 100%;
	text-align: center;
	border-top: 3px solid #ef503a;
}

#main-header h3{
	color: white;
	font-size: 115%;
}

.img-thumbnail{
	width: 100%;
	padding: 0;
}

.img-thumbnail img{
	display: inline-block;
	width: 100%;
}

.profile-links{
	background-color: #386594;
	display: inline-block;
	width: 100%;
	color: #fff;
	padding-top:3px;
	padding-bottom:5px;
}

.profile-links span img{
	float: left;
	margin-right: 5%;
	margin-left: 20%;
	display: inline-block;
	margin-top: 6%;
}

.profile-links span{
	display:inline-block;
	width: 33.3%;
	float:left;
	padding:1%;
}
.profile-links span:hover{
	border-bottom: 5px solid #EC6D5B;
	margin-bottom: -10px;
}
.profile-links span:nth-child(2){
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right:1px solid rgba(255,255,255,0.2);
}
.profile-links h4{
	font-size:110%;
}


.profile-options{
	display: inline-block;
	width: 100%;
	padding-top: 7%;
}

.profile-options div{
	border-bottom: 1px solid rgba(44, 56, 68, 0.1);
	width: 80%;
	margin: auto;
	height: 100%;
	font-size: 120%;
	color: rgb(44, 56, 68);
	padding: 3%;
	margin-top: 4%;
}
.profile-options div > a{
	color: rgb(44, 56, 68);
	text-decoration: none;
}.profile-options div > a:hover{
	color: #E77D6E;
}

#dashboard-content-right{
	margin-bottom:7%;
}
.dashboard-item{
	width:90%;
	margin:auto;
	padding: 3% 8% 4% 5%;
	margin-top: 3%;
	position:relative;
}
	/*item header*/
	.dashboard-item-header{
		border-bottom: 1px solid #eee;
		padding-bottom: 1%;
	}
	.dashboard-msg{
		border-top: 3px solid #87b0da;
	}
	.dashboard-prof-img{
		width: 7%;
		max-width: 41px;
	}
	.dashboard-prof-name{
		font-size: 110%;
		margin-left: 3%;
		padding-right: 3%;
		border-right: 1px solid #DBDBDB;
		color:#333;
	}
	.dashboard-msg-date{
		margin-left:3%;
		color:#B1B1B1;
		font-size: 110%;
	}
	/*item content*/
	.dashboard-item-content{
		margin-top: 4%;
		padding-bottom:8%;
	}
	.dashboard-item-content > h4{
		font-size: 115%;
		margin-bottom:3%;
	}
	.dashboard-item-footer{
		position:absolute;
		bottom:0;
		display:block;
		color:#A3A3A3;
		width:100%;
		padding-bottom:3%;
	}
	.dashboard-item-footer > span{
		margin-right:7%;
		font-size:90%;
	}

/*welcome message*/
#welcome{
	color: white;
	background: #e78b7e;
}
#welcome h2{
	font-size: 145%;
}

#message-board{
	background-color: white;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#bot-header{
	background-color: rgb(41,92,142);
}

#bot-header h2{
	margin-left: 2%;
}






/**
 * 	Accordion style drop downs
 */
#profile-dropdown, #presence-dropdown, #content-dropdown{
	display: none;
}

#profile-status{
	background-color: white;
	width: 100%;
	text-align: center;
}

#section-status div{
	background-color: rgb(78, 147, 207);
	border-style: solid;
	border-width: thin 0px thin 0px;
	border-color: white;
	width: 100%;
	text-align: center;
}

/*
#profile-activate{
	padding-left: 20%;
}

#presence-activate{
	padding-left: 20%;
}

#content-activate{
	padding-left: 20%;
}
*/

@media only screen and (max-width: 480px){
	.row > .col-md-offset-2{
		margin-left:0;
		margin:auto;
	}
}
